<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li>
        <a href="#">legal</a>
        <ul class="menu vertical">
          <li><%= link_to 'privacy', legal_privacy_path %></li>
          <li><%= link_to 'terms of use', legal_terms_of_use_path %></li>
          <li><%= link_to 'cookies', legal_cookies_path %></li>
        </ul>
      </li>
      <li><%= link_to 'contact', contact_path %></li>
      <li><%= link_to 'who we are', who_we_are_path %></li>
      <li><%= link_to 'where we are', where_we_are_path %></li>
      <li><%= link_to 'about us', about_us_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>

  <div class="grid-x align-center">
    <div class="small-10 medium-8 large-6 cell">
      <%= yield %>
    </div>    
  </div>

  </body>
</html>
